
 <header class="bg-primary text-white text-center py-4">
        <h1 class="text-center mb-4">Bem-vindo à Minha App Angular</h1>
      <p class="text-center mb-4">Esta é uma aplicação de exemplo para demonstrar o uso do Angular com Bootstrap.</p>
</header>



<div class="container mt-5">


  <div class="row ">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="../assets/img/multi.png" class="card-img-top " alt="Imagem do Produto">
        <div class="card-body d-flex flex-column text-center">
          <h5 class="card-title">Multiplataforma</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quo dolore animi corporis vitae sapiente explicabo consequatur repellendus dignissimos reprehenderit odio, fugiat earum incidunt officia provident ratione, unde esse alias!</p>
          <a href="#" class="btn btn-primary mt-auto">Saiba Mais</a>
        </div>
      </div>
    </div>

   <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="../assets/img/performace.png" class="card-img-top " alt="Imagem do Produto">
        <div class="card-body d-flex flex-column text-center">
          <h5 class="card-title">Performance</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur blanditiis at fugit deserunt ipsa veniam aspernatur dignissimos impedit alias aliquam.</p>
          <a href="#" class="btn btn-primary mt-auto">Saiba Mais</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="../assets/img/prod.jpg" class="card-img-top " alt="Imagem do Produto">
        <div class="card-body d-flex flex-column text-center">
          <h5 class="card-title">Produtividade</h5>
          <p class="card-text">Lorem ipsum dolor ipsa ea, Nostrum laboriosam fugit, esse corrupti. Nostrum laboriosam fugit, esse corrupti. Nostrum laboriosam fugit, esse corrupti id dolores.</p>
          <a href="#" class="btn btn-primary mt-auto">Saiba Mais</a>
        </div>
      </div>
    </div>

    </div>
  </div>
