@model Receitas.Models.Receita

@{
    ViewData["Title"] = "Cadastre aqui sua receita";
}

<h1>@ViewData["Title"]</h1>

<h4>Nova</h4>
<hr />
<h4>Cadastre sua Receita</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredientes" class="control-label">Ingredientes</label>
                 <div id="ingredientes-container">
                   
                    <div class="ingrediente-item">
                       
                        <input type="hidden" asp-for="Ingredientes" name="Ingredientes" id="ingredientes" class="form-control" />
                    </div>
                </div>

                <button type="button" class="btn btn-secondary" id="add-ingrediente"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Adicione Ingredientes
                </button>
            </div>
            <div class="form-group">
                <label asp-for="ModoPreparo" class="control-label"></label>
                <input asp-for="ModoPreparo" class="form-control" />
                <span asp-validation-for="ModoPreparo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPublicacao" class="control-label"></label>
                <input asp-for="DataPublicacao" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="DataPublicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoPreparo" class="control-label"></label>
                <input asp-for="TempoPreparo" class="form-control" type="time"/>
                <span asp-validation-for="TempoPreparo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Voltar</a>
            </div>
        </form>
    </div>
</div>
<script>
    let ingredienteCount = 1;
    let lstIngrediente = [];
    document.getElementById('add-ingrediente').addEventListener('click', function () {

        let ingredientesContainer = document.getElementById('ingredientes-container');
        let newIngrediente = document.createElement('div');
        newIngrediente.classList.add('ingrediente-item');
        newIngrediente.innerHTML = `
                <input id="Ingredientes[${ingredienteCount}]" class="form-control" />
            `;
        ingredientesContainer.appendChild(newIngrediente);
        obterIngredientes(`Ingredientes[${ingredienteCount}]`);
        ingredienteCount++;
    });

    function obterIngredientes(id) {
        // Seleciona todos os campos de input com o nome "Ingredientes[]"
        var ingredientesInputs = document.getElementById(id);

        // Cria uma lista para armazenar os valores dos inputs
        var ingredientesArray = [];


        if (ingredientesInputs.value.trim() !== "") {  // Evita adicionar campos vazios
            ingredientesArray.push(ingredientesInputs.value.trim());
        }
        

        // Monta uma string separada por vírgulas com os ingredientes
        var ingredientesString = ingredientesArray.join(", ");

        document.getElementById('Ingredientes').value = ingredientesString;
        console.log(document.getElementById('Ingredientes').value);
        return ingredientesString;
    }


</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
