<header class="bg-primary text-white text-center py-4">
        <h1>Principais Recursos</h1>
        <p>O que torna nossa solução incrível</p>
    </header>

    <div class="container mt-5">
        <div class="row">
            <!-- Feature 1 -->
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="../../../assets/img/seguranca.png" class="card-img-top" alt="Feature 1">
                    <div class="card-body">
                        <h5 class="card-title">Segurança Avançada</h5>
                        <p class="card-text">Proteção robusta contra ataques cibernéticos e acessos indevidos.</p>
                    </div>
                </div>
            </div>
            <!-- Feature 2 -->
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="../../../assets/img/perfor.png" class="card-img-top" alt="Feature 2">
                    <div class="card-body">
                        <h5 class="card-title">Alta Performance</h5>
                        <p class="card-text">Velocidade otimizada para processamento e execução de tarefas complexas.</p>
                    </div>
                </div>
            </div>
            <!-- Feature 3 -->
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="../../../assets/img/interfac.png" class="card-img-top" alt="Feature 3">
                    <div class="card-body">
                        <h5 class="card-title">Interface Intuitiva</h5>
                        <p class="card-text">Design moderno e simples para máxima experiência do usuário.</p>
                    </div>
                </div>
            </div>
        </div>

    
    </div>

